@use '../variables' as *;

$astro-blue: #00a2ff;
$astro-light-blue: #8fccff;
$astro-green: #00e219;
$astro-red: #bb2f2f; //#bb2f2f #ba2e2e;
$astro-orange: #ffa530;

#astro-pop {
    background-image: url(/assets/images/astro-pop2.png);
}

.astro-pop {
  app-rolodex {
    #text-holder {
      .project-type {
        color: $white;
      }

      .project-role h2 {
        color: $astro-light-blue;

        .tab {
          color: $astro-blue;
        }
      }

      .project-info {
        p {
          color: $astro-light-blue;
        }
      }

      .string {
        color: $astro-orange;
      }

      .keyword {
        color: $astro-blue;
      }

      .name {
        color: $white;
        background-color: $astro-red;
      }

      .number,
      .operator {
        color: $astro-green;
      }
    }
  }

  #svg-play-btn {
    .play {
      fill: $white;
    }

    .more {
      fill: $astro-light-blue;
    }
  }

  app-play-pause-btn {
    .play-toggle-btn {
      background-color: rgba(0,0,0,0.5);
      border-color: $white;
      span::after {
        border-color: $astro-light-blue;
      }
    }

    .play-toggle-btn.paused {

      span::after {
        background-color: $astro-light-blue;
      }
    }
  }
}
