@use '../variables' as *;

$bevac-blue:#0071bb;
$bevac-orange:#C95F0A;
/* $bevac-yellow:#EFAD18; */

#bevac {
    background-image: url(/assets/images/bevac.svg);
}

.bevac {
  app-rolodex {
    #text-holder {
      .project-type {
        color: $white;
      }

      .project-role h2 {
        color: $bevac-blue;

        .tab {
          color: $bevac-orange;
        }
      }

      .string,
      .number,
      .keyword {
        color: $white;
      }

      .name {
        background-color: $bevac-blue;
      }

      .number,
      .operator {
        color: $bevac-orange;
      }

      .keyword {
        color: $bevac-blue;
      }
    }
  }

  #svg-play-btn {
    .play {
      fill: $bevac-blue;
    }

    .more {
      fill: $bevac-orange;
    }
  }

  app-play-pause-btn {
    .play-toggle-btn {
      background-color: $bevac-blue;
      border-color: $white;

      span::after {
        border-color: $white;
      }
    }

    .play-toggle-btn.paused {

      span::after {
        background-color: $white;
      }
    }
  }
}
