@use '../variables' as *;

$bub-purple: #9f84ba;
$bub-blue: #0d71ba;
$bub-yellow: #f7c45b;
$bub-green: #8ea368;

.bub-and-bot {
  .rolodex {
    #text-holder {
      .project-type {
        color: $white;
      }

      .project-role h2 {
        color: $bub-green;

        .tab {
          color: $bub-purple;
        }
      }

      .project-info {
        p {
          color: #ccc8db;
        }
      }

      .string {
        color: $bub-purple;
      }

      .keyword {
        color: $bub-green;
      }

      .name {
        color: $white;
        background-color: $bub-blue;
      }

      .number,
      .operator {
        color: $bub-yellow;
      }
    }
  }

  #svg-play-btn {
    .play {
      fill: $bub-green;
    }

    .more {
      fill: $bub-purple;
    }
  }

  .play-pause-btn {
    .play-toggle {
      background-color: $bub-green;
      border-color: $white;

      span::after {
        border-color: $white;
      }
    }

    .play-toggle.paused {

      span::after {
        background-color: $white;
      }
    }
  }
}

  