@use '../variables' as *;

$pinpoint-red:#ff3434;

#pinpoint div {
    background-image: url(/assets/images/pinpoint.svg);
}

.pinpoint {
  .rolodex {
    #text-holder {
      .project-type {
        color: $white;
      }

      .project-role h2 {
        color: $pinpoint-red;

        .tab {
          color: $lighter-grey;
        }
      }

      /* .project-info{
			border-color:$white;
			p{
				color:$white;
			}
		} */
      .string {
        color: $white;
      }

      .name {
        color: $black;
        background-color: $pinpoint-red;
      }

      .number,
      .keyword,
      .operator {
        color: $pinpoint-red;
      }
    }
  }

  #svg-play-btn {
    .play {
      fill: $white;
      fill: $pinpoint-red;
    }

    .more {
      fill: $pinpoint-red;
      fill: $white;
    }
  }

  .play-pause-btn {
    .play-toggle {
      background-color: $darker-grey;
      border-color: $white;

      span::after {
        border-color: $pinpoint-red;
      }
    }

    .play-toggle.paused {

      span::after {
        background-color: $pinpoint-red;
      }
    }
  }
}
