@use '../variables' as *;

$ps-green:#22d922;
$pt-light-pink:#c48ba2;
$pt-blue:#507acc;
$pt-mex-pink:#9e1f63;

#project-trac {
  background-image: url(/assets/images/project-trac.png);
}

.project-trac {
  app-rolodex {
    #text-holder {
      .project-type {
        color: $white;
      }

      .project-role h2 {
        color: $pt-mex-pink;

        .tab {
          color: $pt-light-pink;
        }
      }

      .project-info {
        p {
          color: $white;
        }
      }

      .string {
        color: $pt-blue;
      }

      .keyword {
        color: $pt-light-pink;
      }

      .name {
        color: $black;
        background-color: $ps-green;
      }

      .number,
      .operator {
        color: $ps-green;
      }
    }
  }

  #svg-play-btn {
    .play {
      fill: $white;
    }

    .more {
      fill: $pt-blue;
    }
  }

  app-play-pause-btn {
    .play-toggle-btn {
      background-color: rgba(0, 0, 0, 0.5);
      border-color: $ps-green;

      span::after {
        border-color: $ps-green;
      }
    }

    .play-toggle-btn.paused {

      span::after {
        background-color: $ps-green;
      }
    }
  }
}
