@use '../variables' as *;

$ps-green:#22d922;
$ps-blue:#7071ca; /* #6061ad; */
$ps-purple:#a54fa1; /* #823f7f; */
$ps-yellow:#b77a34;

.project-strong {
  .rolodex {
    #text-holder {
      .project-type {
        color: $white;
      }

      .project-role h2 {
        color: $ps-yellow;

        .tab {
          color: $ps-blue;
        }
      }

      .project-info {
        p {
          color: $white;
        }
      }

      .string {
        color: $ps-purple;
      }

      .keyword {
        color: $ps-blue;
      }

      .name {
        color: $black;
        background-color: $ps-green;
      }

      .number,
      .operator {
        color: $ps-green;
      }
    }
  }

  #svg-play-btn {
    .play {
      /* fill: $ps-yellow; */
      fill: $white;
    }

    .more {
      /* fill: $ps-blue; */
      /* fill: $ps-green; */
      fill: $ps-yellow;
    }
  }

  .play-pause-btn {
    .play-toggle {
      background-color: rgba(0,0,0,0.5);
      border-color: $ps-green;

      span::after {
        border-color: $ps-green;
      }
    }

    .play-toggle.paused {

      span::after {
        background-color: $ps-green;
      }
    }
  }
}

