@use '../variables' as *;

$sfl-blue:#3078be;

#step-for-life {
    background-image: url(/assets/images/step-for-life.png);
}

.step-for-life {
  app-rolodex {
    #text-holder {
      .project-type {
        color: $white;
      }

      .project-role h2 {
        color: $sfl-blue;

        .tab {
          color: $lighter-grey;
        }
      }

      /* .project-info{
			p{
				color:$white;
			}
		} */
      .string,
      .number,
      .keyword {
        color: $white;
      }

      .name {
        background-color: $sfl-blue;
      }

      .number,
      .keyword,
      .operator {
        color: $sfl-blue;
      }
    }
  }
}
