@use '../variables' as *;

$ttt-green:#679a41;
$ttt-blue:#0f98ae;
$ttt-purple:#bb88b5;

#train-to-tend div {
    background-image: url(/assets/images/train-to-tend.svg);
}

.train-to-tend {
  .rolodex {
    #text-holder {
      .project-type {
        color: $white;
      }

      .project-role h2 {
        color: $ttt-green;

        .tab {
          color: $ttt-purple;
        }
      }

      .project-info {
        p {
          color: $white;
        }
      }

      .string,
      .keyword {
        color: $ttt-blue;
      }

      .name {
        color: $black;
        background-color: $ttt-green;
      }

      .number,
      .operator {
        color: $ttt-purple;
      }
    }
  }

  #svg-play-btn {
    .play {
      fill: $ttt-green;
    }

    .more {
      fill: $ttt-purple;
    }
  }

  .play-pause-btn {
    .play-toggle {
      background-color: #333333;
      border-color: $white;

      span::after {
        border-color: $ttt-green;
      }
    }

    .play-toggle.paused {

      span::after {
        background-color: $ttt-green;
      }
    }
  }
}
