@use "../../scss/variables" as *;
@use "../../scss/media-queries" as *;

.link {
  display: grid;
  width: 100%;
  max-height: 100%;
  padding: 4dvh 0 0;
  transition: padding 0.6s ease-in-out;

  &:global(.active) {
    padding: 4dvh 0;
    @include laptop-portrait {
      padding-bottom: 8dvh;
    }
    @media (orientation: 'landscape') {
      padding-bottom: 8dvh;
    }
    .svg {
      .name {
        fill: $light-grey;
      }
    }
  }

  .svg {
    min-height: 0;
    /* height: calc(100% - 4dvh); */
    /* transition: height 0.6s ease-in-out; */

    rect {
      fill: none;
      stroke: $light-grey;
      stroke-miterlimit: 10;
      stroke-width: 4px;
    }

    .doubleA,
    .name {
      fill: $lighter-grey;
    }

    .name {
      cursor: pointer;
    }

    .double-a,
    .name {
      transition: fill 0.6s ease-out 0.6s;
    }
  }
}