@use "../../scss/variables" as *;

a:has(.svg) {
  display: inline-flex;
  width: 100%;
  max-height: 100%;
}

.svg {
  padding: 4vh 0 0;
  height: unset;
  min-height: 13rem;
  transition: padding 0.6s ease-in-out,
  height 0.6s ease-in-out;

  rect {
    fill: none;
    stroke: $light-grey;
    stroke-miterlimit: 10;
    stroke-width: 4px;
  }

  .doubleA,
  .name {
    fill: $lighter-grey;
  }

  .name {
    cursor: pointer;
  }

  .double-a,
  .name {
    transition: fill 0.6s ease-out 0.6s;
  }
}

:global(.active) {
  .svg {
    padding: 4vh 1em 2vh;
    .name {
      fill: $light-grey;
    }
  }
}