@use '../../scss/variables' as *;
@use '../../scss/media-queries' as *;

.container {
  width: 100%;
  height: 100%;

  .imageHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    padding-bottom: $column-row-mobile;

    @include tablet {
      padding-bottom: $column-row-tablet;
    }

    @include laptop {
      padding-bottom: $column-row-laptop;
    }

    .image {
      scroll-snap-align: start;
      width: 100%;
      padding-top: $column-row-mobile;
      pointer-events: none;

      @include tablet {
        padding-top: $column-row-tablet;
      }

      @include laptop {
        padding-top: $column-row-laptop;
      }

      div {
        aspect-ratio: 1/1;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 auto;
        width: auto;
        height: calc(100vh - #{$column-row-mobile * 2});
        transform: translateY(0%);
        transition: transform 0.4s 0.3s ease-out;

        &[data-current="true"][data-init="true"] {
          transform: translateY(100%);
        }

        @include tablet {
          height: calc(100vh - #{$column-row-tablet * 2});
        }

        @include laptop {
          height: calc(100vh - #{$column-row-laptop * 2});
        }
      }
    }
  }
}