@use '../../scss/media-queries' as *;

.container {
  align-self: center;
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-rows: auto 3rem;
  grid-template-areas: "vid" "controls";
  justify-content: center;
  align-items: end;

  &[data-show="false"] {
    display: none;
  }

  video {
    grid-area: vid;
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-height: calc(48dvh - 3rem);
    background-color: #000;

    @media (orientation: landscape) {
      max-height: calc(84dvh - 3rem);
    }

    @include tablet-portrait {
      height: calc(44dvh - 3rem);
    }

  }

  :global(#play-pause-btn) {
    grid-area: vid;
  }

  .controls {
    grid-area: controls;
    display: flex;
    justify-content: space-between;
    gap: 0.6em;

    :global(.btn) {
      [data-times] {
        font-size: x-small;
      }
    }
  }
}