@use '../../scss/media-queries' as *;

.container {
  align-self: center;
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-rows: auto 3rem;
  grid-template-areas: "vid" "controls";
  justify-content: center;
  align-items: end;

  video {
    grid-area: vid;
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-height: calc(48vh - 3rem);

    @media (orientation: landscape) {
      max-height: calc(84vh - 3rem);
    }

    @include tablet-portrait {
      height: calc(44vh - 3rem);
    }

  }

  :global(#play-pause-btn) {
    grid-area: vid;
  }

  :global(#video-progress) {
    grid-area: controls;
  }
}