
@use '../../scss/variables' as *;
@use '../../scss/media-queries' as *;

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dot {
  display: block;
  width: 2.2vh;
  height: 2.2vh;
  margin: 1.3vh 0;
  background-color: $light-grey;
  border: 0.15em solid $lighter-grey;
  border-radius: 50%;
  cursor: pointer;

  @include laptop {
    width: 2vh;
    height: 2vh;
    margin: 1.25vh 0;
  }

  &:global(.active) {
    background-color: $white;
    border: 0.15em solid $white;
  }

}