
@use '../../scss/variables' as *;

.rolodex {
  visibility: hidden;
  &[data-show="true"] {
    visibility: visible;
  }


  @media (orientation: portrait) {
    visibility: hidden !important;
  }

  #text-holder {
    padding: 0 10% 0 6%;

    .type-roles-wrap {
      height: 23em;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .project-type-wrap {
      font-size: 3.5em;
      height: 1.15em;
      margin-bottom: 0.35em;
    }

    .project-type:not(:first-child) {
      margin-top: -1.15em;
    }

    .project-type {
      font-family: 'Audiowide', sans-serif;
      font-size: 1em;
      color: $lighter-grey;
      margin: 0;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }

    .project-role-wrap {
      height: 8em;
    }

    .project-role:not(:first-child) {
      margin-top: -8em;
    }

    .project-role {
      height: 8em;

      h2 {
        font-family: 'Exo 2', sans-serif;
        font-size: 2.2em;
        color: $light-grey;
        margin: 0 0 0.15em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;

        .tab {
          color: $lighter-grey;
          font-size: 0.7em;
          width: 2em;
          display: inline-block;
        }
      }
    }

    .project-info-wrap {
      height: 22em;
    }

    .project-info:not(:first-child) {
      margin-top: -22em;
    }

    .project-info {
      height: 22em;
      width: 100%;
      padding-top: 1.1em;
      border-top: 0.3rem solid $light-grey;
      transition: border-color 0.6s ease-out 0.6s;

      p {
        font-family: 'Droid Sans Mono', sans-serif;
        font-size: 1.25em;
        white-space: nowrap;
      }

      .tab {
        width: 1.8em;
        display: inline-block;
      }
    }
  }
}

/* ----------------------------- LANDSCAPE ----------------------------- */
/* phones */
@media screen and (orientation: landscape) {
  .rolodex  {
    #text-holder {
      font-size: 0.7vw;
    }
  }
}

/* @media screen and (min-width: 576px) and (orientation: landscape) {
  .rolodex {
    #text-holder {
      font-size: 1.4vh;
    }
  }
} */

/* med phones */
/* @media screen and (min-width: 656px) and (orientation: landscape) {
  .rolodex {
    #text-holder {
      font-size: 1.5vh;
    }
  }
} */

/* large phones: iPhone Plus & X, Pixel 2 */
/* @media screen and (min-width: 720px) and (min-height: 390px) and (orientation: landscape) {
  .rolodex {
    #text-holder {
      font-size: 0.77vw;
    }
  }
} */

/* tablets, iPads, small laptop/desktop */
@media screen and (min-width: 960px) and (orientation: landscape) {
  .rolodex {
    #text-holder {
      font-size: 0.7rem;
    }
  }
}

/* laptops, desktops */
@media screen and (min-width: 1280px) and (min-height: 960px) and (orientation: landscape) {
  .rolodex {
    #text-holder {
      font-size: 0.8rem;
    }
  }
}

@media screen and (min-width: 1440px) and (min-height: 1024px) and (orientation: landscape) {
  .rolodex {
    #text-holder {
      font-size: min(0.85rem, 1.1vh);
    }
  }
}

@media screen and (min-width: 2400px) and (min-height: 1280px) and (orientation: landscape) {
  .rolodex {
    #text-holder {
      font-size: max(0.85rem, 1vh);
    }
  }
}
/* -------------------------------------------------------------------- */