@import './variables';

/* ----------------------------- PORTRAIT ----------------------------- */
/* small phones & general portrait */
@media screen and (orientation: portrait) {
  .gutter {
    width: calc(50% - 12em);
  }

  .gutter.right {
    padding-top: 4vh;
  }

  .content-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 200;
    display: none;
  }

  .content-inner-wrap {
    width: 24em;
    height: calc(100% - 8vh);
    /* background-color: $darker-grey; */
  }

  .column-wrap {
    width: 24em;
  }

  .column-block.top {
    flex-grow: unset;
  }

  #svg-logo {
    min-height: 13rem;
  }

  #svg-logo.active {
    padding-bottom: 5.5vh;
  }
  
  .column-mid {
    height: 24em;

    .item {
      height: 24em;
      width: 24em;
    }
  }

  .null,
  .player {
    #main-view {
      .content-wrap {
        display: flex;
        height: 46%;
        width: 60%;
        top: 29%;
        left: 20%;
      }
      .column-mid {
       opacity: 0;
       transition: opacity 0.6s ease-in;
      }
    }
  }

  .null {
    #main-view {
      .content-wrap {
        height: 71%;
      }
    }
  }
}

/* wider phones: iPhone 6, 7, 8 */
@media screen and (min-width: 23.4em) and (orientation: portrait) {
  .gutter {
    width: calc(50% - 14em);
  }

  .content-inner-wrap {
    width: 28em;
  }

  .column-wrap {
    width: 28em;
  }

  .column-mid {
    height: 28em;

    .item {
      height: 28em;
      width: 28em;
    }
  }
}

/* long phones: iPhoneX, Pixel 2 XL */
@media screen and (min-height: 50em) and (orientation: portrait) {
  .column-block {
    height: calc(50% - 14em)
  }
  .gutter.right {
    padding-top: 0;
  }
}

/* large phones: iPhone 6, 7, 8 Plus, Pixel 2 */
@media screen and (min-width: 25.6em) and (orientation: portrait) {
  .gutter {
    width: calc(50% - 15em);
  }

  .content-inner-wrap {
    width: 30em;
  }

  .column-wrap {
    width: 30em;
  }

  .column-mid {
    height: 30em;

    .item {
      height: 30em;
      width: 30em;
    }
  }
}

/* tablets, iPads */
@media screen and (min-height: 52em) and (orientation: portrait) {
  .gutter {
    width: 10%
  }

  .content-inner-wrap {
    width: 36em;
  }

  .column-wrap {
    width: 36em;
  }

  .column-mid {
    height: 36em;

    .item {
      height: 36em;
      width: 36em;
    }
  }

  .column-block {
    height: calc(50% - 18em);
  }
}

/* large tablets, iPad Pro */
@media screen and (min-width: 64em) and (orientation: portrait) {

  .content-inner-wrap {
    width: 40em;
  }

  .column-wrap {
    width: 40em;
  }

  .column-mid {
    height: 40em;

    .item {
      height: 40em;
      width: 40em;
    }
  }

  .column-block {
    height: calc(50% - 20em);
  }
}

/* -------------------------------------------------------------------- */



/* ----------------------------- LANDSCAPE ----------------------------- */
/* phones */
@media screen and (orientation: landscape) {
  .column-block {
    max-height: calc(50% - 9em);
  }

  /* #svg-logo {
    height: unset;
  } */

  #svg-logo.active {
    padding-bottom: 5.5vh;
  }

  #svg-logo,
  .content-wrap,
  .gutter.left {
    padding-top: 3vh;
  }

  .content-wrap {
    padding-bottom: 3vh;
  }
}

/* large phones: iPhone 6, 7, 8 Plus, Pixel 2 */
@media screen and (min-width: 45em) and (orientation: landscape) {
  .column-wrap {
    width: 24em;
  }

  .column-mid {
    height: 24em;

    .item {
      height: 24em;
      width: 24em;
    }
  }

  .column-block {
    max-height: calc(50% - 12em);
  }

  #svg-logo.active {
    padding-bottom: 3.5vh;
  }
}

/* tablets, iPads, small laptop/desktop */
@media screen and (min-width: 60em) and (orientation: landscape) {
  .content-top,
  .content-bottom {
    min-height: 8em;
  }

  .column-wrap {
    width: 28em;
  }

  .column-mid {
    height: 28em;

    .item {
      height: 28em;
      width: 28em;
    }
  }

  .column-block {
    max-height: calc(50% - 14em);
  }

  #svg-logo,
  .content-wrap,
  .gutter.left {
    padding-top: 4vh;
  }

  .content-wrap {
    padding-bottom: 4vh;
  }

  #svg-logo {
    padding-bottom: 6vh;
    min-height: 15rem;
  }

  #svg-logo.active {
    padding-bottom: 11vh;
    /* height: 85%; */
  }
}

/* laptops, desktops */
@media screen and (min-width: 80em) and (orientation: landscape) {
  .column-wrap {
    width: 30em;
  }

  .column-mid {
    height: 30em;

    .item {
      height: 30em;
      width: 30em;
    }
  }

  .column-block {
    max-height: calc(50% - 15em);
  }

  #svg-logo {
    padding-bottom: 3vh;
  }

  #svg-logo.active {
    padding-bottom: 8vh;
    /* height: 100%; */
  }
}

/* -------------------------------------------------------------------- */

@media screen and (max-width: 60em) and (min-height: 600px) {
  .content-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 200;
    display: none;
  }
}
