@use './variables' as *;
@use './media-queries' as *;
@use './functions' as *;

* {
  box-sizing: border-box;
}

svg {
  width: 100%;
  height: 100%;
  display: block;
}

a,
svg,
video,
div,
button {
  outline: none;
  -webkit-highlight: none;
}

h1,
h2,
p,
span {
  transition: color 0.6s ease-out 0.2s, background-color 0.6s ease-out 0.2s;
}

body {
  color: $lighter-grey;
  background-color: $darker-grey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
  position: absolute;
  font-family: 'Exo 2', sans-serif;

  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  ::-webkit-scrollbar { display: none; }
  scroll-snap-type: y mandatory
}

body,
#root {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.layout-grid {
  display: grid;
  grid-template-columns: max(12%,4em) auto max(12%,4em);
  grid-template-areas: "left mid right";
  width: 100%;
  height: 100%;
  position: fixed;

  @include tablet {
    grid-template-columns: 4vw 8% 4vw auto 4vw 8% 4vw;
    grid-template-areas: ". left  . mid . right .";
  }

  @include laptop {
    grid-template-columns: max(6%,4em) auto max(6%,4em);
    grid-template-areas: "left mid right";
  }

  @include laptop-portrait {
    grid-template-columns: 4vw 8% 4vw auto 4vw 8% 4vw;
    grid-template-areas: ". left  . mid . right .";
  }

  &__gutter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vh 0;
    /* border: thin solid orange; */

    &--left {
      grid-area: left;
      align-items: flex-start;
    }

    &--right {
      grid-area: right;
    }
  }

  &__content {
    grid-area: mid;
    display: grid;
    grid-template-columns: 0 100%;
    grid-template-rows: $column-row-mobile auto $column-row-mobile;
    grid-template-areas: "main colmn-top" 
                          "main colmn-mid"
                          "main colmn-bottom";
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    ::-webkit-scrollbar { display: none; }
    scroll-snap-type: y mandatory;

    @include tablet {
      grid-template-rows: $column-row-tablet auto $column-row-tablet;
    }

    @include laptop {
      grid-template-columns: auto 33%;
      grid-template-rows: $column-row-laptop auto $column-row-laptop;
    }

    @include desktop {
      grid-template-columns: auto 30em;
    }

    /* @include large-desktop {
      
    } */

    @include laptop-portrait {
      grid-template-columns: 0 100%;
    }

    &__main {
      grid-area: main;
      height: 100%;
      max-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: sticky;
      top: 0;
      /* border: thin solid violet; */

       @include mobile-thru-tablet {
        width: 0;
        height: 0;
      }
      @include laptop-portrait {
        width: 0;
        height: 0;
      }
    }

    &__column {

      &--full {
        grid-column: 2;
        grid-row: 1/3;
        width: 100%;
        max-width: 40em;
        margin: 0 auto;
        /* border: thin solid green; */
        z-index: 1;
        position: absolute;
        top: 0;

        @include laptop {
          max-width: unset;
        }
        @include laptop-portrait {
          max-width: 45em;
        }
      }

      &--top {
        grid-area: colmn-top;
        background-color: $darker-grey;
        z-index: 2;
        position: sticky;
        top: 0;
      }

      &--bottom {
        grid-area: colmn-bottom;
        background-color: $darker-grey;
        z-index: 2;
        display: grid;
        position: sticky;
        top: calc(100vh - $column-row-mobile);
        width: 100%;
        height: 100%;

        @include tablet {
          top: calc(100vh - $column-row-tablet);
        }

        @include laptop {
          top: calc(100vh - $column-row-laptop);
        }


        > * {
          min-height: 0;
          justify-self: center;
          align-self: center;
        }
      }

      &--mid {
        grid-area: colmn-mid;
        z-index: 2;
        position: sticky;
        top: $column-row-mobile;
        /* border: thin solid pink; */

        @include tablet {
          top: $column-row-tablet;
        }

        @include laptop {
          top: $column-row-laptop;
        }
      }
    }
  }
}
