@use './variables' as *;
@use './media-queries' as *;
@use './functions' as *;

* {
  box-sizing: border-box;
}

a,
svg,
video,
div,
button {
  outline: none;
  -webkit-highlight: none;
}

h1,
h2,
p,
span {
  transition: color 0.6s ease-out 0.2s, background-color 0.6s ease-out 0.2s;
}

/* html {
  font-size: 60%;
} */

body {
  color: $lighter-grey;
  background-color: $darker-grey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  position: absolute;
  font-family: 'Exo 2', sans-serif;
}

body,
#root {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.layout-grid {
  display: grid;
  grid-template-columns: max(6%,4em) auto max(6%,4em);
  width: 100%;
  height: 100%;
  position: fixed;

  &__gutter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: thin solid orange;

    &--left {
      align-items: flex-start;
      padding-top: 4vh;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 0 100%;

    @include tablet {
      grid-template-columns: auto 33%;
    }

    @include desktop {
      grid-template-columns: auto 30em;
    }

    @include large-desktop {
      
    }

    &__main {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: thin solid violet;

       @include mobile-only {
        display: none;
      }
    }

    &__column {
      height: 100%;
      border: thin solid green;
    }
  }
}


/* #main-view,
#overlay-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
}

.gutter {
  width: 6%;
  min-width: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gutter.left {
  align-items: flex-start;
  padding-top: 4vh;
}

.content-wrap {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.content-wrap.show {
  display: flex;
}

.content-inner-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-top,
.content-bottom {
  height: 10%;
  min-height: 6em;
}

.content-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column-wrap {
  width: 18em;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow: hidden;
  z-index: 100;
}

.column-block {
  max-height: calc(50% - 9em);
  display: inline-flex;
  flex-grow: 1;
  background-color: $darker-grey;
  z-index: 2;
}

.column-mid {
  flex-shrink: 0;
  width: 100%;
  height: 18em;
  opacity: 1;
  overflow: hidden;
  z-index: 0;

  .item {
    height: 18em;
    width: 18em;
  }
}

#overlay-view {
  pointer-events: none;
  .column-wrap {
    display: unset;
  }
}

#overlay-view > * {
  background-color: transparent;
}

#overlay-view header {
  pointer-events: all;
  background-color: $darker-grey;
} */