@use "sass:map";

// Media queries
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
$media-rules: (
	tablet-width-min: 768px,
	laptop-width-min: 1024px,
	desktop-width-min: 1440px,
	large-desktop-width-min: 1600px
);

@mixin mobile-only {
	@media (max-width: #{ map.get($media-rules, tablet-width-min) - 1px}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{ map.get($media-rules, tablet-width-min)}) {
		@content;
	}
}

@mixin tablet-only {
	@media (min-width: #{ map.get($media-rules, tablet-width-min)}) and (max-width: #{ map.get($media-rules, laptop-width-min) - 1px}) {
		@content;
	}
}

@mixin mobile-thru-tablet {
	@media (max-width: #{ map.get($media-rules, laptop-width-min) - 1px}) {
		@content;
	}
}

@mixin mobile-thru-laptop {
	@media (max-width: #{ map.get($media-rules, desktop-width-min) - 1px}) {
		@content;
	}
}

@mixin laptop {
	@media (min-width: #{ map.get($media-rules, laptop-width-min)}) {
		@content;
	}
}

@mixin laptop-portrait {
	@media (min-width: #{ map.get($media-rules, laptop-width-min)}) and (orientation: portrait) {
		@content;
	}
}

@mixin laptop-only {
	@media (min-width: #{ map.get($media-rules, laptop-width-min)}) and (max-width: #{ map.get($media-rules, desktop-width-min) - 1px}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{ map.get($media-rules, desktop-width-min)}) {
		@content;
	}
}

@mixin large-desktop {
	@media (min-width: #{ map.get($media-rules, large-desktop-width-min)}) {
		@content;
	}
}