
@use "sass:color";
/* global colors */
$white: #FFF;
$black: #000;
$dark-grey: rgb(48, 48, 48);
$darker-grey: rgb(33, 33, 33);
$darkest-grey: color.adjust($darker-grey, $lightness: -5%);
$light-grey: rgb(89, 89, 89);
$lighter-grey: #bcbcbc;

/* font family  */
$font-droid: 'Droid Sans Mono';
$font-body: 'Exo 2';
$font-headline: 'Audiowide';

$column-row-mobile: 26vh;
$column-row-tablet: 28vh;
$column-row-laptop: 26.5vh;

$underline-height: 0.3rem;
